<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="maxIemsCount" value="1000"/>
		<add key="minIemsCount" value="10"/>
		<add key="maxDeviationAllowed" value="0.25"/>
		<add key="maxSplitsAllowed" value="3"/>
		<add key="daysBeforeOld" value="30"/>
	</appSettings>
</configuration>